# Site settings
title: Molecular Modeling Laboratory
email: aditya.nandy@ucla.edu
description: Academic webpage of Aditya Nandy
baseurl: ""
url: ""

# Google analytics ID: Uncomment and your own, if you like
google_analytics: G-JWLCRQVHXG
# google_analytics_4: XXX
# google_tag_manager: XXX

# Footer info
affiliation: >
  Aditya Nandy<br/>
  Assistant Professor<br/>
  UCLA

location: >
  UCLA<br/>
  Boelter Hall Room 4667<br/>
  Los Angeles, CA 90095

contact: >
  <a href="mailto:aditya.nandy@ucla.edu" target="_blank"><i class="fa fa-envelope fa-1x"></i> Contact Aditya via email</a> <br/>
  <a href="https://github.com/sbryngelson/academic-website-template"><i class="fa fa-github fa-1x"></i> Use this site as a template!</a>

# Pages shown in navbar
nav_pages:
  # - name: about
  - name: co-workers
  - name: research
  - name: publications
  # - name: talks
  # - name: software
  # - name: teaching
  # - name: blogs

include:
  - .htaccess
  - _pages

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

plugins: ["jekyll-scholar"]

scholar:
  last_name: Nandy
  first_name: [Aditya]

  style: citesty
  locale: en

  source: /assets/
  bibliography: ref.bib
  bibliography_template: bibtemplate
  sort_by: year, month
  order: descending

  replace_strings: true
  join_strings: true

  # details_dir: bibliography
  # details_layout: bibtex.html
  # details_link: Details

  query: "@*"

  bibliography_list_attributes:
    reversed: "reversed"

exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile
